@import './colors.scss';
@import './font.scss';

.btn-primary {
  border: 1px solid $zenika-red;
  background-color: $zenika-red;
  color: white;
  border-radius: 2em;
  padding: 0.5em;
  font-size: $zenika-normal;
  font-family: $zenika-font !important;
}
