$primary: #b51432;
$link: #12708c;
$info: #5c95f7;
$success: #0eb366;
$warning: #ec951e;
$danger: #ef1408;

$grey-lighter: #f2f2f2;
$grey-light: #d2d6d8;
$grey: #b5b5b5;
$black-light: #4c4c4c;

$black: #000000;
$white: #ffffff;

.is-grey-lighter {
  background-color: $grey-lighter;
}
.is-grey-light {
  background-color: $grey-light;
}
.is-grey {
  background-color: $grey;
}
.is-black-light {
  background-color: $black-light;
}
